uploads/RFF_Shema.xsd

<?xml version="1.0" ?>
<xs:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="flux_financiers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flux_financier">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Identification_ligne">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="code_ligne"
                                    nillable="false" type="LimitedString50"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Identification_agence">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="code_banque"
                                    nillable="false" type="LimitedString3"/>
                                    <xs:element name="code_localite"
                                    nillable="false" type="LimitedString3"/>
                                    <xs:element
                                    name="numero_guichet"
                                    nillable="true" type="LimitedString7"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Identification_correspondant">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    name="code_bic_swift"
                                    nillable="true" type="LimitedString11"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="identification_client">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="nom_rsociale"
                                    nillable="true" type="LimitedString70"/>
                                    <xs:element name="qualite"
                                    nillable="true" type="typeQualite"/>
                                    <xs:element
                                    name="type_identification"
                                    nillable="false" type="Typeidentifi"/>
                                    <xs:element
                                    name="nidentification"
                                    nillable="true" type="LimitedString35"/>
                                    <xs:element name="centre_rc"
                                    nillable="true" type="LimitedString3"/>
                                    <xs:element name="rc"
                                    nillable="true" type="LimitedString6"/>
                                    <xs:element name="pays"
                                    nillable="true" type="LimitedString2"/>
                                    <xs:element name="ville"
                                    nillable="true" type="LimitedString25"/>
                                    <xs:element name="adresse"
                                    nillable="true" type="LimitedString70"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="identification_partenaire_client">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    name="nom_rsociale_partenaire"
                                    nillable="true" type="LimitedString70"/>
                                    <xs:element
                                    name="pays_partenaire"
                                    nillable="true" type="LimitedString2"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="information_operation">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    name="sens_operation"
                                    nillable="true" type="typeOperation"/>
                                    <xs:element
                                    name="categorie_formule"
                                    nillable="true" type="typeCategorie"/>
                                    <xs:element
                                    name="code_noperation"
                                    nillable="true" type="LimitedInteger4"/>
                                    <xs:element
                                    name="pprovenance_destination"
                                    nillable="true" type="LimitedString2"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="execution_operation">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="code_devise"
                                    nillable="true" type="LimitedString3"/>
                                    <xs:element
                                    name="montant_devise"
                                    nillable="true" type="LimitedInteger13"/>
                                    <xs:element
                                    name="cours_applique"
                                    nillable="true" type="LimitedString9"/>
                                    <xs:element
                                    name="montant_dirhams"
                                    nillable="true" type="LimitedInteger13"/>
                                    <xs:element
                                    name="date_excecution"
                                    nillable="true" type="LimitedInteger8"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="refercence_operation">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    name="numero_titre_importation"
                                    nillable="true" type="InLimitedString"/>
                                    <xs:element
                                    name="numero_autorisation_oc"
                                    nillable="true" type="LimitedString20"/>
                                    <xs:element
                                    name="numero_formule"
                                    nillable="true" type="LimitedInteger8"/>
                                    <xs:element
                                    name="numero_dossier"
                                    nillable="true" type="LimitedString30"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="information_supplementaire">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element
                                    name="information_operation"
                                    nillable="true" type="LimitedString140"/>
                                    <xs:element name="champ_supp1"
                                    nillable="true" type="LimitedString40"/>
                                    <xs:element name="champ_supp2"
                                    nillable="true" type="LimitedString40"/>
                                    <xs:element name="champ_supp3"
                                    nillable="true" type="LimitedString40"/>
                                    <xs:element name="champ_supp4"
                                    nillable="true" type="LimitedString40"/>
                                    <xs:element name="champ_supp5"
                                    nillable="true" type="LimitedString40"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="LimitedString50">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString3">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString6">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString7">
        <xs:restriction base="xs:string">
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString11">
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString70">
        <xs:restriction base="xs:string">
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString35">
        <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString2">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString25">
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="LimitedString20">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
    <xs:simpleType name="LimitedString140">
        <xs:restriction base="xs:string">
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedInteger4">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedInteger13">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="13"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString9">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedInteger8">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedInteger30">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString30">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitedString40">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeQualite">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Typeidentifi">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeOperation">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeCategorie">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeTansfert">
        <xs:restriction base="xs:integer">
            <xs:totalDigits value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="InLimitedString">
    <xs:restriction base="xs:string">
     </xs:restriction>
  </xs:simpleType>
</xs:schema>
